# Node.js dependencies
node_modules
npm-debug.log

# Logs
logs
*.log
*.log.*

# Dependency directories
jspm_packages

# Optional npm cache directory
.npm

# Miscellaneous
.DS_Store
*.swp
*.swo
*.sw?
.vscode
.idea
*.iml

# Nest.js build output
dist

# Docker-related files
Dockerfile
docker-compose.yml

# Environment files
.env
.env.*
